# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc
*.db
*.sqlite3
*.sh

# Environment Variables (contains your secret API key)
.env


# Flask
instance/
logs/
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env.local
.env.production
